@import '../../../Constants/cssVariables.scss';

.Button
{
    background-color: $primaryColor;
    width: 100%;
    height: 30px;
    color: white;
    border: none;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;

    &:hover
    {
        cursor: pointer;
    }
}